<footer class="border-t">
  <div class="relative mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8 lg:py-12">
    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-center text-teal-600 lg:justify-start">
          <!-- Replace SVG with Image -->
          <img
            src="../assets/Dev-M.png"
            alt="Dev-M Logo"
            class="h-10"
          />
        </div>
        <p class="mx-auto max-w-md text-center leading-relaxed text-slate-800 text-xs lg:text-left">
          V1.0.1
        </p>

        <p class="mx-auto mt-4 max-w-md text-center leading-relaxed text-gray-500 lg:text-left">
          Dev-M, Developers Ready To Go Partner.
        </p>

      </div>

      <ul class="mt-6 flex flex-wrap justify-center gap-4 md:gap-6 lg:mt-0 lg:justify-end lg:gap-8">
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> About Dev-M</a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Services </a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> About Dev-Team </a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Blog </a>
        </li>
      </ul>
    </div>

    <p class="mt-6 text-center text-sm text-gray-500 lg:text-right">
      Copyright &copy; 2024. All rights reserved.
    </p>
  </div>
</footer>
